#teaser {
  background-image: url("../images/keyboard\ pic.png");
}

#teaser h1 {
  color: var(--yellow);
  font-family: "Orbitron";
  font-size: 50px;
  padding-top: 400px;
  padding-left: 60px;
  padding-bottom: 440px;
  margin: 0;
}

main {
  background-color: var(--black);
  margin: 0;
}

#best-sellers,
#about-me {
  padding: 10px 100px;
}

#best-sellers h1,
#about-me h1 {
  color: var(--yellow);
  font-family: "Orbitron";
  font-size: 30px;
}

#about-me {
  display: flex;
  flex-direction: column;
  letter-spacing: 2px;
}

#about-me-p {
  color: var(--white);
}

#about-me-p a {
  color: var(--yellow);
  font-family: "Orbitron";
}

#about-me-content {
  display: flex;
  align-items: start;
  gap: 20px;
}

#about-me p {
  font-family: "Orbitron";
  flex: 3;
  margin: 0;
}

#about-me a img {
  flex: 1;
  max-width: 100%;
  object-fit: cover;
  border: var(--yellow) 1px solid;
}

.all-products {
  display: flex;
  align-items: center;
  justify-content: center;
  flex-wrap: wrap;
}

.best-sellers-content {
  display: flex;
  align-items: center;
  justify-content: center;
  flex-wrap: wrap;
}

.product-card {
  overflow: hidden;
  background-color: var(--black);
  /* color: var(--dark-gray); */
  text-align: center;
  width: 240px;
  height: 300px;
  padding: 2rem;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: space-between;
  border-radius: 1.2rem;
  margin: 2rem;
  box-shadow: 5px 15px 25px var(--yellow);
}

.product-card h4,
.product-card p {
  color: var(--yellow);
  font-family: "Orbitron";
}

.product-card:hover img {
  scale: 1.1;
}

.product-card:hover {
  background-color: var(--dark-gray);
}

.product-card img {
  height: 150px;
  transition: all 0.3s;
}

@media (max-width: 574px) {
  #about-me-content {
    display: flex;
    flex-direction: column;
    gap: 20px;
  }
}
