.product-container {
  height: 60vh;
  display: flex;
  flex-direction: row;
  background-color: var(--black);
}

/* .left-column {
  width: 300px;
  position: relative;
}

.right-column {
  width: auto;
  margin-top: 60px;
} */

/* .left-column img {
  width: 100%;
  position: absolute;
  left: 0;
  top: 0;
} */

.product-details {
  border-bottom: 1px solid var(--yellow);
  margin-bottom: 20px;
}

#product-category {
  font-size: 12px;
  letter-spacing: 1px;
  text-transform: uppercase;
  font-family: "Orbitron";
  color: var(--light-yellow);
  text-decoration: none;
}

#product-name {
  font-weight: 300;
  font-size: 40px;
  font-family: "Orbitron";
  color: var(--yellow);
  letter-spacing: -2px;
}

#product-description {
  font-size: 16px;
  font-weight: 300;
  color: var(--white);
  font-family: "Orbitron";
  line-height: 24px;
}

.productpage-price {
  display: flex;
  align-items: center;
}

#product-price {
  font-size: 26px;
  font-weight: 300;
  font-family: "Orbitron";
  color: var(--yellow);
  margin-right: 20px;
}

@media (max-width: 1000px) {
  .product-container {
    display: flex;
    flex-direction: column;
    height: 100vh;
  }

  .left-column {
    width: 100%; /* Full width for smaller screens */
    position: relative; /* Reset to maintain image positioning */
  }

  .right-column {
    width: 100%; /* Full width for smaller screens */
    margin-top: 20px; /* Add spacing between stacked sections */
  }
}
